.banner{
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 352px;
    background-image: url("/assets/images/banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 34px 152px;

}
.banner__titulo{
    color: var(--branco);
    font-weight: 700;
    font-size: 52px;
    line-height: 61px; 
}
.banner__descricao{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--branco);
}
.banner__botao{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 51px;
    background-color: var(--azul);
    color: var(--branco);
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}
@media screen and (max-width:768px ){
   
    .banner{
        padding:32px 32px ;
        background-position: center;
    }
}
@media screen and (max-width:480px ){
    .banner{
        gap: 8px;
        padding:16px 16px ;
        background-size:initial;
    }
    .banner__titulo{
        
        font-size: 22px;
        line-height: 25px;
    }
    .banner__descricao{
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
    }
}