div.login {
    width:423px;
}

.iniciarSessao{
    
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: 206px 0 25px 0;   
}
.inputLogin{
    border-radius: 4px;
    padding: 17px;
    box-sizing: border-box;
    width: 423px;
    height: 63px;
    margin-top: 10px;
    border: none;
    color: var(--cinza-Escuro);
    text-align:start;
    box-shadow: 0 1px 1px 0 var(--cinza-medio);
}
div .btnEntrar{
    margin-top: 47px;
    margin-bottom: 90px;
}
div a.btnEntrar{
    margin-top: 20px;
    padding: 20.5px 185.5px;
    background:var(--azul);
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
div button.btnEntrar:hover{
    transition: .1s;
    cursor: pointer;
    background-color: var(--azul-hover);
}

@media screen and (max-width: 780px){
    div.login{
        width: 275px;
    }
    h1.iniciarSessao{
        margin-top: 61px;
        font-size: 16px;
    }
    .inputLogin{
        width: 275px;
        height: 41px;
    }
    div .btnEntrar {
        text-align: center;
        margin-top: 47px;
        margin-bottom: 90px;
        width: 275px;
    }
    div a.btnEntrar {
        padding: 12px 34px;
        font-size: 14px;
    }
    
}    

















